---
draft: false
date: {{ timestamp }}
title: "{{ peak_name }}, {{ peak_elevation }}"
description: ""
slug: ""
authors: []
tags: []
categories: []
externalLink: ""
series: []
weight: {{ weight }}
---
## {{ long_date }}
<a href="../galleries/{{ peak_name }}-gallery/"><font size="4"><b>Full Image Gallery</b></font></a>

{{ report_text }}


## Route
![My route](https://s3.us-west-1.wasabisys.com/web-assets/{{ peak_name }}-{{ short_date }}/{{ peak_name }}_route.png?classes=shadow)

[GPX Track Download](https://s3.us-west-1.wasabisys.com/web-assets/{{ peak_name }}-{{ short_date }}/{{ peak_name }}_route.gpx)
