---
draft: false
date: {{ timestamp }}
title: "{{ title }}"
description: ""
slug: ""
authors: []
tags: []
categories: []
externalLink: ""
series: []
weight: {{ weight }}
---
{{ long_date }}
<a href="../galleries/{{ short_name }}-gallery/"><font size="4"><b>Full Image Gallery</b></font></a>

{{ report_text }}


## Route
![My route](https://s3.us-west-1.wasabisys.com/web-assets/{{ short_name }}-{{ short_date }}/{{ short_name }}_route.png?classes=shadow)

[GPX Track Download](https://s3.us-west-1.wasabisys.com/web-assets/{{ short_name }}-{{ short_date }}/{{ short_name }}_route_route.gpx)
