<script>
    document.addEventListener('DOMContentLoaded', function() {
      const checkboxes = document.querySelectorAll('ul.task-list li input[type="checkbox"]');
      checkboxes.forEach(function(checkbox) {
        checkbox.disabled = false; // Enable the checkbox
        checkbox.addEventListener('change', function() {
          console.log(this.checked ? 'Checked' : 'Unchecked');
        });
      });
    });
    </script>
    
    <style>
    ul.task-list {
      list-style-type: none;
      padding-left: 0;
    }
    ul.task-list li input[type="checkbox"] {
      margin-right: 0.5em;
    }
    </style>